@{
    ViewData["Title"] = "Paciente";
}

<h1 class="display-6 text-primary text-center fw-bold">Pacientes</h1>

<br />

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h5 class="mb-0">Lista de tipos de medicamentos</h5>
    </div>
    <div class="card-body">
        <div id="divContenedorTabla" class="table table-striped"></div>
    </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de que desea eliminar este registro? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/paciente.js"></script>